* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(43, 42, 42);
    color: white;
}

header {
    padding: 16 0;
    background-color: purple;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container h1 {
    margin-left: 64px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.container li a {
    color: white;
    padding: 8px;
    text-decoration: none;
}

header nav {
    margin-right: 64px;
    align-items: center;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

header nav li a {
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
}

header nav li a:hover {
    transform: scale(1.1);
    color: rgb(240, 237, 232);
}

header nav ul {
    display: flex;
    list-style: none;
}

.sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.sobre img {
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.sobre-loja {
    margin-left: 24px;
}

.sobre-loja p {
    text-align: justify;
}

.sobre-loja h2 {
    border-bottom: solid purple;
    padding-bottom: 8px;
}

.produtos h2 {
    text-align: center;
    margin-top: 32px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.produtos .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.produtos .container ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.produtos .container ul li {
    text-align: center;
    border: 1px solid purple;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.produtos img {
    width: 150px;
    height: auto;
    border-radius: 4px;
}

.produtos button {
    margin-top: 8px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 6px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    height: 32px;
    width: 128px;
    cursor: pointer;
}

.produtos button:hover {
    transform: scale(1.1);
}